/*
 Theme Name:   Item S.A
 Description:  Theme for Item S.A
 Author:       The South Studio
 Author URI:   http://thesouthstudio.com
 Template:     sparkling
 Text Domain:  sparkling-child
*/

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

/* ==================================================
BOOTSTRAP FLEXBOX
=============== */
.d-flex{
    display: flex;
    display: -ms-flexbox;
}

.justify-content-start{
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.justify-content-end{
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.justify-content-center{
    -ms-flex-pack: center;
    justify-content: center;
}

.justify-content-between{
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-content-around{
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.align-items-start{
    -ms-flex-align: start;
    align-items: flex-start;
}

.align-items-end{
    -ms-flex-align: end;
    align-items: flex-end;
}

.align-items-center{
    -ms-flex-align: center;
    align-items: center;
}

.align-items-baseline{
    -ms-flex-align: baseline;
    align-items: baseline;
}

.align-items-stretch{
    -ms-flex-align: stretch;
    align-items: stretch;
}

.flex-column{
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-wrap{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.align-self-stretch {
    -ms-flex-item-align: stretch;
    align-self: stretch;
}











/* ==================================================
GENERALS
=============== */
:focus{ outline: none !important; }
p, a, li, h1, h2, h3, h4, h5, h6, ul, span{ font-family: 'Work Sans', sans-serif; }

html, body, #page, #content{ min-height: 100%; }

@media (max-width: 768px){
    html, body, #page, #content{ overflow-x: hidden; padding: 0 !important; }
}

.mx-auto{ margin: 0 auto; float: none; }

.site-container{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.main-content-inner{ background-color: #fff; }

.full-width .main-content-inner{ padding: 0; }

.section{ padding: 80px 0; }

.yellow-section{ background-color: #faea50; }

.section-title{ width: fit-content; }

.section-title h1{
    color: #999999;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.section-title hr{
    width: 100%;
    border-top: 3px solid #faea50;
}

.item-button{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    width: 120px;
    min-height: 35px;
    border: 3px solid #faea50;
}

.item-button:hover{ text-decoration: none; }

.load-more{ display: none; }

.divider{ width: 100%; }







/* ==================================================
HEADER
=============== */
.navbar-default{
    border: none;
    border-radius: 0;
    box-shadow: 0px 1px 5px 0px #edeff1;
    padding: 10px 0;
}

.navbar-header{
    position: relative;
    padding: 10px 0;
}

.navbar-default .navbar-toggle{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    margin: 0;
}

.site-navigation-inner {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-header img,
.footer-widget img{ max-width: 200px !important; }

@media (max-width: 768px){
    .site-navigation-inner {
        display: block;
    }
}

@media (min-width: 769px){
    .navbar-collapse{ padding-right: 0; }
}

.navbar-nav > li{
    padding: 0 15px;
    font-weight: 700;
}

.navbar-nav > li:last-child{ padding-right: 0; }

.navbar-default .navbar-nav>li>a{
    padding: 0;
    margin: 15px 0;
    font-weight: 600;
    border-bottom: 3px solid #fff;
}

.navbar-default .navbar-nav>.no-active>a{ border-bottom: 3px solid #fff !important; }
.navbar-default .navbar-nav>.no-active>a:hover{ border-bottom: 3px solid #faea50 !important; }

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
    background-color: transparent;
    border-bottom: 3px solid #faea50;
    transition: all 0s linear;
}






/* ==================================================
FOOTER
=============== */
#colophon{ display: none; }

#footer-area .footer-widget-area{ overflow: unset; }

#footer-area .footer-widget{
    margin: 40px 0;
}

#footer-area .widgettitle{ display: none; }

#footer-area h1{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0;
}

.social-footer a:first-child{ margin-bottom: 10px; }

.social-footer i{
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: #3b3c3c;
    border-radius: 50%;
    text-align: center;
    color: #faea50;
}

.copyright-container{ background-color: #fff; }

.copyright-container a{ color: #3b3c3c !important; }

.copyright{ margin-top: 5px; }

.copyright p{
    font-size: 12px;
    margin-bottom: 5px;
}

@media (max-width: 768px){
    .social-footer,
    .social-footer a:first-child{ display: block; }
}







/* ==================================================
PORTADA
=============== */
.portada-slide img{ width: 100%; }

.carousel-indicators li{
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin: 0;
    text-indent: -999px;
    cursor: pointer;
    background-color: #faea50;
    border-radius: 0;
    border: none;
    vertical-align: text-top;
}

.carousel-indicators .active{
    background-color: #faea50;
    width: 30px;
    height: 5px;
}

.portada-slide .carousel-control{
    background: none;
    opacity: 1;
    color: #fff;
    text-shadow: none;
}

.portada-slide .carousel-control i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}







/* ==================================================
NOSOTROS
=============== */
.nosotros-section hr{ margin-bottom: 40px; }

.nosotros-section .item-button{
    color: #999999;
    margin-top: 40px;
}







/* ==================================================
SERVICIOS
=============== */
.servicios-container .image-container{
    max-height: 430px;
    overflow: hidden;
    width: 60%;
}

.servicios-container{
    max-height: 500px;
    overflow: hidden;
}

.servicios-container .text-container{
    flex: 1;
    background-color: #999999;
}

.servicios-container .text-container hr{
    margin-bottom: auto;
    border-top: 10px solid #faea50;
    margin-top: 0;
    width: 100%;
}

.servicios-container .text-container .services-list{
    padding: 40px;
    width: 70%;
}

.servicios-container .text-container .services-list h1{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.servicios-container .text-container .services-list p{
    color: #fff;
    margin-left: 10px;
    font-size: 12px;
}

.servicios-container .text-container .services-list span{ font-weight: 600; }

@media (min-width: 1999px){
    .servicios-container .image-container,
    .servicios-container{ max-height: 700px; }
}

@media (max-width: 991px){
    .servicios-container{
        display: block;
        max-height: unset;
    }
    .servicios-container .image-container{
        width: 100%;
        max-height: 500px;
        overflow: hidden;
    }
}

@media (max-width: 576px){
    .servicios-container .text-container .services-list{ width: 100%; }
}







/* ==================================================
HISTORIA
=============== */
.historia-section .container .row:last-child{ margin-top: 60px; }

.historia-section img{
    max-width: 90px;
    max-height: 90px;
    margin-bottom: 20px;
}

.historia-section p{
    font-size: 12px;
    font-weight: 600;
    color: #35383a;
}

.historia-section span{
    font-size: 14px;
    color: #8e9192;
}

@media (max-width: 768px){
    .historia-section .container .row:last-child{ margin: 0; }
    .historia-section .single-historia{ margin-bottom: 20px; }
    .historia-section .container .row:last-child .single-historia:last-child{ margin-bottom: 0; }
    .historia-section br{ display: none; }
}







/* ==================================================
OBRAS
=============== */
.obras-section hr{ margin-bottom: 80px; }

.main-work{
    height: 500px;
    margin-bottom: 80px;
}

.main-work .work-category{
    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: .5;
}

.main-work .work-category:hover{ opacity: 1; }

.main-work .section-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main-work hr{ margin: 0; }

.main-work .work-category h1{ color: #fff; }

.main-work .arquitectura-category hr{ border-top-color: #999999; }

.arquitectura-category{ background-image: url('http://item.com.ar/wp-content/uploads/2018/10/arquitectura.jpg'); }

.ingenieria-category{ background-image: url('http://item.com.ar/wp-content/uploads/2018/10/ingenieria.jpg'); }

.obras-section .single-obra .obra-header{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.obras-section .single-obra .obra-header img{
    min-width: 100%;
    min-height: 100%;
}

.obras-section .single-obra .obra-body{
    background-color: #999999;
    border-bottom: 10px solid #faea50;
    padding: 20px;
    flex: 1;
}

.obras-section .single-obra h1{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.obras-section .single-obra p{
    color: #fff;
    font-size: 12px;
    margin: 0;
    margin-bottom: 20px;
}

.obras-section .single-obra .item-button{
    color: #fff;
    margin-top: auto;
}

.obras-section .load-more a,
.obras-section .download-file a{
    margin-top: 40px;
    color: #999999;
}

.obras-section .download-file a{ width: 230px; }

.obras-interna .section-title hr{ margin-bottom: 40px; }

@media (min-width: 990px){
    .obras-interna .single-obra{ margin-top: 40px; }
}

@media (max-width: 991px){
    .obras-container{ display: block !important; }
    .obras-row{ display: block !important; }
    .single-obra:not(:first-child){ margin-top: 40px; }
}







/* ==================================================
PRESENTACIÓN
=============== */
.presentacion-container{
    max-height: 500px;
    overflow: hidden;
    margin-bottom: 80px;
}

.presentacion-container .image-container{
    max-height: 430px;
    overflow: hidden;
    width: 60%;
    padding-left: 15px;
}

.presentacion-container .text-container{
    flex: 1;
    padding-right: 15px;
}

.presentacion-container .text-container hr{
    margin-bottom: auto;
    border-top: 1px solid #999999;
    margin-top: 0;
    width: 100%;
}

.presentacion-container .text-container .presentacion-text{
    border-bottom: 10px solid #faea50;
    padding-bottom: 30px;
}

.presentacion-container .text-container .presentacion-text p{
    color: #35383a;
    font-size: 12px;
    width: 90%;
}

@media (max-width: 991px){
    .presentacion-container{
        display: block;
        max-height: unset;
    }
    .presentacion-container .image-container{
        width: 100%;
        max-height: 500px;
        overflow: hidden;
        margin-bottom: 20px;
        padding-left: 0;
    }
    .presentacion-container .text-container{ padding-right: 0; }
    .presentacion-container .text-container hr{ display: none; }
}

@media (max-width: 576px){
    .presentacion-container .text-container .presentacion-text p{ width: 100%; }
}







/* ==================================================
CONTACTO
=============== */
.contacto-container{
    max-height: 500px;
    overflow: hidden;
    margin-bottom: 80px;
}

.contacto-container .image-container{
    max-height: 430px;
    overflow: hidden;
    width: 60%;
    padding-right: 15px;
}

.contacto-container .image-container img{ width: 100%; }

.contacto-container .text-container{
    flex: 1;
    padding-left: 15px;
}

.contacto-container .wpcf7,
.contacto-container .wpcf7-form{
    display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contacto-container div.wpcf7{
    margin-top: auto;
    height: 100%;
}

.contacto-container .text-container form{
    width: 100%;
    margin-top: auto;
    height: 100%;
}

.contacto-container .form-container{
    margin: auto 0;
}

.contacto-container .input-container{
    margin-bottom: 10px;
}

.contacto-container label,
.contacto-container label input,
.contacto-container label textarea{
    width: 100%;
}

.contacto-container label input,
.contacto-container label textarea{
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #999999;
    resize: none;
    padding-bottom: 10px;
    transition: all 0.3s linear;
    color: #393939;
}

.contacto-container label .wpcf7-not-valid{ border-bottom: 2px solid #f00; }

.contacto-container label input:focus,
.contacto-container label textarea:focus{
    outline: none;
    border-bottom: 2px solid #999999;
}

::-webkit-input-placeholder{
    font-weight: 600;
    color: #393939;
    font-size: 12px;
    transition: all 0.3s linear;
}
::-moz-placeholder{
    font-weight: 600;
    color: #393939;
    font-size: 12px;
    transition: all 0.3s linear;
}
:-ms-input-placeholder{
    font-weight: 600;
    color: #393939;
    font-size: 12px;
    transition: all 0.3s linear;
}
:-moz-placeholder{
    font-weight: 600;
    color: #393939;
    font-size: 12px;
    transition: all 0.3s linear;
}

:focus::-webkit-input-placeholder{ color: #999999; }
:focus::-moz-placeholder{ color: #999999; }
:focus:-ms-input-placeholder{ color: #999999; }
:focus:-moz-placeholder{ color: #999999; }

.contacto-container label .wpcf7-not-valid::-webkit-input-placeholder{ color: #f00; }
.contacto-container label .wpcf7-not-valid::-moz-placeholder{ color: #f00; }
.contacto-container label .wpcf7-not-valid:-ms-input-placeholder{ color: #f00; }
.contacto-container label .wpcf7-not-valid:-moz-placeholder{ color: #f00; }

.contacto-container .text-container form .wpcf7-submit{
    -webkit-appearance: none;
    background-color: #fff;
    color: #999999;
    border-radius: 0;
    margin-top: auto;
    padding: 0;
}

.contacto-container .text-container form .wpcf7-submit:focus,
.contacto-container .text-container form .wpcf7-submit:hover{
    border: 3px solid #faea50;
    outline: none;
}

.contacto-container .text-container form button:focus{ outline: none; }

div.wpcf7-response-output{
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{ border: 2px solid #faea50; }

@media (max-width: 991px){
    .contacto-container{
        display: block;
        max-height: unset;
    }
    .contacto-container .image-container{
        width: 100%;
        max-height: 500px;
        overflow: hidden;
        margin-bottom: 20px;
        padding-right: 0;
    }
    .contacto-container .text-container{ padding-left: 0; }
}







/* ==================================================
INTERNAS
=============== */
.interna-portada{
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
}

.interna-portada h1{
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 30px;
}

.interna-portada .overlay {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: 1;
}

.page-template-page-arquitectura .main-content-inner,
.page-template-page-ingenieria .main-content-inner{ padding-bottom: 80px; }







/* ==================================================
INTERNA ARQUITECTURA
=============== */
.page-template-page-arquitectura .navbar-default .navbar-nav>.menu-obras>a{ border-bottom: 3px solid #faea50 !important; }
.arquitectura-portada{ background-image: url('http://item.com.ar/wp-content/uploads/2018/10/portada-arquitectura.jpg'); }







/* ==================================================
INTERNA INGENIERIA
=============== */
.page-template-page-ingenieria .navbar-default .navbar-nav>.menu-obras>a{ border-bottom: 3px solid #faea50 !important; }
.ingenieria-portada{ background-image: url('http://item.com.ar/wp-content/uploads/2018/10/portada-ingenieria.jpg'); }

.nav-tabs{
    margin-bottom: 80px;
    border: none;
    position: relative;
}

.nav-tabs>.electrica-cat>li>a,
.nav-tabs>li>a,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
    color: #3d3d3d;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    transition: none;
    padding: 10px 15px;
}

.nav-tabs>li,
.nav-tabs>.electrica-cat>li{ border-bottom: 3px solid #fff; }

.nav-tabs>li.active,
.nav-tabs>li.active:focus,
.nav-tabs>li.active:hover{ border-bottom: 3px solid #faea50; }

.electrica-cat .sub-categories{
    display: none !important;
    position: absolute;
    top: 120%;
    right: 0;
    width: 700px;
    padding-inline-start: 0;
}

.electrica-cat .sub-categories li,
.electrica-cat .sub-categories li a{
    list-style: none;
    font-weight: 600;
    color: #999999;
    text-align: center;
}

.electrica-cat .sub-categories li:not(:last-child){ margin-right: 10px; }

.electrica-cat:hover{ background-color: #eee; }

.electrica-cat .show{ display: flex !important; }

@media (max-width: 768px){
    .nav-tabs{
        margin-bottom: 120px;
        display: block;
    }
    .nav-tabs>.electrica-cat>li>a,
    .nav-tabs>li>a,
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover{
        padding: 10px;
        font-size: 13px;
    }
    .electrica-cat .show{ display: block !important; }
    .electrica-cat .sub-categories{ width: 100%; }
}







/* ==================================================
INTERNA Y DETALLE OBRAS
=============== */
.page-template-page-obras .navbar-default .navbar-nav>.menu-obras>a{ border-bottom: 3px solid #faea50 !important; }
.single-post .navbar-default .navbar-nav>.menu-obras>a{ border-bottom: 3px solid #faea50 !important; }

.post-container{ padding: 0; }

.single-portada{
    overflow: hidden;
    position: relative;
    margin: 0;
}

.single-portada .container{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
}

.single-portada img{
    width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: .7;
}

.single .post{ margin: 80px 0; }

.single .post-content .item-button{
    color: #393939;
    width: 150px;
    margin-top: 40px;
}

.single .contacto-container{ margin-top: 80px; }

.single .contacto-container .single-image-container{
    max-height: 430px;
    overflow: hidden;
    padding-right: 15px;
}

.single .contacto-container .single-image-container img{ width: 100%; }

@media (max-width: 991px){
    .single .post{ margin: 40px 0; }
    .single .post-thumbnail{ margin-bottom: 20px; }
    .single .contacto-container .single-image-container{
        width: 100%;
        max-height: 500px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .single .contacto-container .text-container{ padding-left: 15px; }
}







/* ==================================================
EMPRESA
=============== */
.nosotros-portada{ background-image: url('http://item.com.ar/wp-content/uploads/2018/10/portada-nosotros.jpg'); }

.nosotros-section .intro{ margin-bottom: 60px; }

.nosotros-col{ margin-top: 20px; }

.nosotros-col img{
    max-width: 80px;
    margin-bottom: 20px;
}

.nosotros-col .section-title h1{ font-size: 16px; }

.nosotros-col .section-title hr{
    margin: 0;
    margin-bottom: 20px;
}

.nosotros-interna .servicios-container{ margin-top: 80px; }

.nosotros-interna .text-container .services-list{ align-self: flex-end; }

.nosotros-interna .presentacion-container{ margin-top: 80px; }

.nosotros-interna .presentacion-container .image-container{
    max-height: 100%;
    padding-left: 0;
    padding-right: 15px;
}

.nosotros-interna .presentacion-container .presentacion-text{
    padding: 0;
    margin-left: 15px;
}

.nosotros-interna .presentacion-container .presentacion-text h1{
    font-size: 16px;
    font-weight: 600;
    width: 50%;
}

@media (max-width: 768px){
    .nosotros-col{ margin-top: 60px; }
    .nosotros-interna .text-container .services-list{ align-self: auto; }
    .nosotros-interna .presentacion-container .image-container{ padding-right: 0; }
    .nosotros-interna .presentacion-container .presentacion-text{ margin-left: 0; }
}







/* ==================================================
EQUIPOS
=============== */
.equipos-portada{ background-image: url('http://item.com.ar/wp-content/uploads/2018/10/portada-equipos.jpg'); }

.equipos-interna .carousel-inner{
    width: 80%;
    margin: 0 auto;
}

.equipos-interna .carousel-control{
    background: none;
    opacity: 1;
    color: #999;
    text-shadow: none;
}

.equipos-interna .carousel-control i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}

.equipos-interna .download-file{
    margin: 80px auto;
    width: 260px;
    color: #999999;
    text-align: center;
    padding: 10px;
}